$color: #D3F0FF;

body {
	background: $color;
	font-family: 'Arial', sans-serif;
	font-size: 2em;
}

.pos {
  position: relative;
  top: 400px;
  left: 800px;
}

.gi-hidden{
  display: none;
}

.gi-thumbnail{
    height: 225px;
    width: 300px;
}

.gi-fullsize{
    height: 100%;
    width: 100%;
}

.gi-img-wrap {
    position: relative;

}

.gi-img-wrap .gi-close {
    position: absolute;
    top: 2px;
    right: 8px;
    z-index: 100;

}

.gi-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.gi-buttons-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
.gi-item{
  margin: 5px;
  flex-grow: 1;
  flex-shrink: 2;
}


.gi-img-text {
   margin: 0 0 0 0;
   position: absolute;
   top: 0px;
   left: 0px;
   height: 225px;
   width: 300px;
   opacity: 0;
   text-align: center;
   color: white;
   background-color: black;
}
