$color: #FFFFFF;

body {
	background: $color;
    font-size: 20px;
    font-family: helvetica;

}

.pos {
  position: relative;
  top: 400px;
  left: 800px;
}

.gi-hidden{
  display: none;
}

.gi-thumbnail{
  height: auto;
  display: inline-block;
  max-width: 300px;

}

.gi-fullsize{

  display: inline-block;
  max-height: 100%;
  max-width: 100%;

}

.gi-img-wrap {
    position: relative;

}

.gi-img-wrap .gi-close {
    position: absolute;
    top: 2px;
    right: 8px;
    z-index: 100;

}

.gi-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}
.gi-buttons-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding-left:10%;
    padding-right:10%;
}
.gi-item{
  margin: 5px;
  flex-grow: 0;
  flex-shrink: 0;
}

.gi-pager{
  font-size: 20px;
  font-family: helvetica;
}

.gi-button {
  color: black;
  font-size: 20px;
  font-family: helvetica;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 20px;
  transition-duration: .2s;
  background-color: white;
  padding: 4px 30px;
}

.gi-button:hover {
  color: white;
  background-color: black;
  transition-duration: .2s;
}

.gi-img-text {
   font-size: 20px;
   font-family: helvetica;
   margin: 0 0 0 0;
   position: absolute;
   top: 0px;
   left: 0px;
   height: 225px;
   width: 300px;
   opacity: 0;
   text-align: center;
   color: white;
   background-color: black;
}

.gi-overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.gi-overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.gi-overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.gi-overlay a:hover, .gi-overlay a:focus {
    color: #f1f1f1;
}

.gi-overlay .gi-closebutton {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .gi-overlay a {font-size: 20px}
    .gi-overlay .gi-closebutton {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

#gi-mask {
background-color:#111;
opacity: 0;
*background:none;
position:absolute;
z-index: 9001;
top:0px;
left:0px;
width:100%;
height:100%;
}

#gi-popUpDiv {
opacity: 0;
position:absolute;
z-index: 9002;
}
